@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

h4, h5, p {
  margin-bottom: 0;
}

.font-monte {
  font-family: "Montserrat", sans-serif;
}

.primary-btn {
  background-color: #D2232A;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 12px 30px;
}
.primary-btn:hover {
  color: white;
}

.primary-title {
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 40px;
}

.sec-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.tert-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #D2232A;
}

.summary-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #969696;
}

.ptb-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.d-gray {
  color: #969696;
}

.dark {
  color: #2D3333;
}

.primary-col {
  color: #D2232A;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
nav img {
  width: 85%;
  max-width: 120px;
}
nav ul {
  width: 100%;
  align-items: center;
}
nav ul li:not(:first-child) {
  margin-left: 1rem;
}
nav ul li:first-child a {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
nav ul li:first-child a .nav-link-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
nav ul i {
  color: #D2232A;
}
nav .navbar-brand {
  margin-right: 0;
}
nav .navbar-brand picture {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  color: white;
}
nav .navbar-toggler {
  border-color: transparent !important;
  color: white !important;
  padding: 0;
}

.details .shopping-cart-title {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-bottom: 1rem;
}
.details .shopping-cart-title .sec-title {
  color: #969696;
}
.details .shopping-cart .receipient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #F9F9FB;
  padding-inline: 10px;
  flex-wrap: wrap;
  position: relative;
}
.details .shopping-cart .receipient .cookie-count {
  display: flex;
  align-items: center;
}
.details .shopping-cart .receipient .cookie-count img {
  width: 80px;
}
.details .shopping-cart .receipient a {
  position: absolute;
  right: 0;
  color: #D2232A;
}
.details .shopping-cart-table {
  padding: 1rem 1.5rem;
  border: 1px solid #EBEBEB;
}
.details .shopping-cart-table thead th {
  text-transform: uppercase;
  font-weight: 500;
  color: #969696;
  font-size: 14px;
}
.details .shopping-cart-table tbody td {
  color: #2D3333;
  font-size: 14px;
  line-height: 20px;
}
.details .shopping-cart-table tbody .options {
  display: flex;
  justify-content: space-between;
  width: 109px;
}
.details .shopping-cart-table tbody .options a {
  color: #D2232A;
  text-decoration: none;
}
.details .note {
  font-size: 12px;
  line-height: 18px;
  color: #969696;
  margin-left: 1rem;
}
.details .order-summary {
  border-top: 1px solid #D2232A;
  background: #F9F9FB;
  padding: 3rem 2rem;
}
.details .order-summary .summary-details {
  margin-top: 2rem;
}
.details .order-summary .summary-details .order-summary-details h6 {
  text-transform: uppercase;
  border-bottom: 1px solid #969696;
}
.details .order-summary .summary-details .order-summary-details .details {
  display: flex;
  justify-content: space-between;
  color: #2D3333;
  font-size: 14px;
  line-height: 20px;
}
.details .order-summary .summary-details .order-summary-details .details:not(:last-child) {
  margin-bottom: 8px;
}
.details .order-summary .summary-details .shipping {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #969696;
}
.details .order-summary .summary-details .tc {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.details .order-summary .summary-details .tc .tc-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2D3333;
}
.details .order-summary .promo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin: 50px 0;
}
.details .order-summary .promo input {
  border-radius: 4px;
  border: 1px solid #969696;
}
.details .order-summary .promo .btn-apply {
  border: 1px solid #D2232A;
  border-radius: 8px;
  padding: 5px 20px;
  color: #D2232A;
}
.details .order-summary .shipping-cost {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 3rem 0;
}
.details .order-summary .shipping-cost i {
  color: #D2232A;
}/*# sourceMappingURL=styles.css.map */