// Variables
$primary-col: #D2232A;
$dark-col: #2D3333;
$dark-gray: #969696;
$light-gray: #F9F9FB;

// Nav section 


@media screen and (max-width: 991px) {
    nav {
        background: $primary-col;

        ul {

         li:not(:first-child) {
            margin-left: 0;
        }
    }
    }
}

@media screen and (min-width: 992px) {
    nav {
        background: $light-gray;
        
        .navbar-brand {
            i {
                display: none;
            }
        }
    }
}

// main section
.details {
    @media screen and (max-width: 767px) {
        .shopping-cart-title {
            justify-content: space-between;
        }

        .receipient {
            .receipient-count {
                margin-left: 5rem;
                margin-bottom: 0.5rem;
                padding-right: 2rem;
            }
        }
    }
}
